@import url("https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&family=Work+Sans&display=swap");

* {
  margin: 0;

  box-sizing: border-box;
}
:root {
  --font-tittle: "Playfair Display", serif;
  --font-text: "Lora", serif;
  --font-title-products: "Work Sans", sans-serif;
  --typography-color: #575757;
  --typography-color2: #333333;
  --labels-color: #529f0f;
  --Hover: #529f0f;
}
body {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 10px 90px 0px 90px;
}
/*Header and nav*/
header {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2%;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 33.33%;
}
.nav-menu ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 10px;
  justify-content: space-evenly;
  font-family: var(--font-title-products);
  font-weight: bold;
  color: black;
  font-size: 0.75rem;
}
.nav-menu li {
  cursor: pointer;
}
.logo {
  display: flex;
  width: 33.33%;
  justify-content: center;
  object-fit: contain;
  align-items: center;
}
.logo img {
  padding: 0px;
  cursor: pointer;
  width: 40%;
  height: 70%;
}
.cart {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 33.33%;
  align-items: center;
}
#select-coin {
  border: none;
  font-size: 14px;
}
.cart-img {
  width: 20%;
  padding: 0;
}
.cart img {
  width: 20%;
  height: 20%;
}
/*Home image*/
section {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 5%;
}
.home-img {
  text-align: center;
  width: 100%;
  padding: 0px;
  position: relative;
  display: inline-block;
}
.home-img img {
  width: 100%;
  padding: 0px;
  z-index: -1;
}
.text-home-img1 h1 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-tittle);
  font-size: clamp(0.625rem, 3vw, 3.75rem);
  z-index: 1;
  font-weight: 400;
}
.text-home-img2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-title-products);
  font-size: clamp(0.313rem, 1vw, 1.875rem);
  font-weight: 900;
  z-index: 2;
  cursor: pointer;
}

@media (min-width: 480px) {
}
/*Sale*/
.sale-container {
  position: relative;
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 5%;
  padding: 0% 5% 0% 5%;
}
.sale-container img {
  padding: 0px;
  width: 100%;
}
.banner{
  position: relative;
}
.banner-content{
  position: absolute;
  inset: 0;
  height: 50px;
  margin: auto;
  margin-left: 15px;
  transform: translateY(-25%);
}
.banner h4 {
  font-family: var(--font-text);
  color: var(--labels-color);
  font-size: clamp(0.438rem, 2.5vw, 2.375rem);
  font-weight: 100;
}
.banner h5 {

  font-family: var(--font-title-products);
  color: var(--typography-color);
  font-size: clamp(0.25rem, 1vw, 0.75rem);
  font-weight: bold;
}

/*.banner1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../img/banner-1.png);
}
.banner1 h4 {
  font-family: var(--font-text);
  color: var(--labels-color);
  font-size: clamp(0.438rem, 3vw, 2.375rem);
  font-weight: 100;

}
.banner1 h5  {
  font-family: var(--font-tittle);
  color: var(--typography-color);
  font-size: clamp(0.25rem, 1vw, 0.75rem);
  padding-left:12%;
}*/
@media screen and (min-width: 320px) and (max-width: 480px) {
  body {
    padding: 10px 30px 0px 30px;
  }
}
@media screen and (min-width: 481px) and (max-width: 1400px) {
  body {
    padding: 10px 30px 0px 30px;
  }
}
/*.banner2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../img/banner-2.png);
}
.banner2 h4 {
  font-family: var(--font-text);
  color: var(--labels-color);
  font-size: clamp(0.438rem, 3vw, 2.375rem);
  font-weight: 100;

}
.banner2 h5  {
  font-family: var(--font-tittle);
  color: var(--typography-color);
  font-size: clamp(0.25rem, 1vw, 0.75rem);
  padding-left:12%;
}
*/

/*Lastest products*/
.lastest-products {
  display: flex;
  justify-content: center;
  width: 1663px;
  height: 1000px;
  background-image: url(../img/bg-1.jpg);
  margin: 0px;
}
